<!DOCTYPE html>
<html>

<head>
    <title>Film API REST</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Movie List <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add_new_film.html">Add Movie film</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">

        <h1>Add new Movie</h1>
        <form id="addFilmForm">
            <div class="form-group">
                <label for="exampleInputTitre">TiTle</label>
                <input type="text" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" placeholder="enter the movie title" required>
            </div>
            <div class="form-group">
                <label for="exampleInputAnnee">Year</label>
                <input type="number" name="année" id="année" class="form-control" id="exampleInputAnnee " placeholder="Production Year" min="1800" max="2023" required>
            </div>
            <div class=" form-group ">
                <label for="exampleFormControlSelect">Rating</label>
                <select class="form-control" name="note" id="note" id="exampleFormControlSelect " required>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </div>
            <button type="submit " class="btn btn-primary ">Add new movie</button>

        </form>
      <br>
        <div class="alert alert-success" id="success-alert" style="display:none"> 
          Movie successfully added</div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(() => {
      $('#sucess-alert').hide();
      // Handle form submit
      $('#addFilmForm').submit((event) => {
        event.preventDefault();
        const titre = $('#titre').val();
        const année = $('#année').val();
        const note = $('#note').val();
        addFilm(titre, année, note);
    });
    })
      function addFilm(titre, année, note) {
      $.ajax({
        url: 'http://localhost:3000/films/',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ titre, année, note }),
        success: () => {
          $('#addFilmForm')[0].reset();
          console.log("film ajoutéé avec sucess");
          $("#success-alert").show();
          setTimeout(function() {
             $("#success-alert").hide(); }, 5000);
          getFilms();
        },
      });
    }
      </script>
</body>

</html>